[submodule "externals/mumsys-library-default"]
	path = externals/mumsys-library-default
	url = https://github.com/flobee/mumsys-library-default.git
	branch = unstable
[submodule "externals/mumsys-library-default"]
    path = externals/mumsys-library-default
    url = https://github.com/flobee/mumsys-library-default.git
    branch = unstable
[submodule "externals/multirename.wiki"]
	path = externals/multirename.wiki
	url = https://github.com/multirename/multirename.wiki.git
	branch = unstable
